.profile img{
    width: 47px;
}

.instaPost{
    margin-top: 50px;
    /* display: flex;
    justify-content: space-evenly; */
    /* flex-direction: row; */
    /* justify-content: space-around; */
    width: 80%
    
}
.profile{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.profile span{
    margin: 8px;
}
.moreImg img{
    width: 20px;
    margin-left: 130px;
    
    
}
.moreImg{
    justify-content: flex-end;
}
.pdisplay{
    display: flex;
    align-items: center;
}
.mainPhoto{
    /* width: 400px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainPhoto img{
    margin: 8px;
    width: 447px;
    height: 390px;
    border: 2px solid white;
    border-radius: 10px;
    /* margin-left: 39px; */
}
.threefunctions{
    display: flex;
    
    /* justify-content: center; */
    align-items: center;
    justify-content: space-evenly;
    /* justify-content: center; */
    /* align-items: center; */
    margin-left: -39px;
    width: 89%;

}
.threefunctions img{
    width: 30px;
    cursor: pointer;
    

}
.saved{
    position: relative;
    right: -24%;
    margin-left: 130px;
}
.likeCommentShare img{
    margin-left: 9px;
}
.threefunctions img:hover{
    background-color: whitesmoke;
}
.noOfLikes{
    display: flex;
    justify-content:right;
    align-items: center;
    /* align-items: center; */
    margin-left: 5px;
    width: 65%;
    
}
.noOfLikes span img{
    width: 20px;

}
/* .noOfLikes span{
    margin-left: 20px;
} */

.usernamepost{
    display: flex;
    margin-left: 40px;
    margin-top: 2px;
}
.usernamepost span{
    margin-left: 2px;
}
.comments{
    margin-left: 40px;
    margin-top: 2px;
    color: gray;
    width: 70%;
    
}
.curssor{
    cursor: pointer;
}
.comments input{
    border: 0;
}
hr{
    width: 120%;
}

